dist
.tmp_build/*
test/sa.json
logger-key.json
.DS_Store
node_modules
.idea
.vscode
*.log
.env
*.pem
*.bak
.import
.export
docker-compose.*
.graphqlconfig.yml
export-*
.nexus
*.log
*.pem
service-account.json
docker-stack.yaml
docker-stack.yml
.env.local
